/* *{
    border: solid red 2px;
} */

.kalk{
    display:flex;
    width: 320px;
    height: 460px;
    margin: auto;
    margin-top: 200px;
    padding: 5px;
    padding-bottom: 2px;
    border: solid black 2px;
    flex-direction: column;
    background-color: black;
}
.keyboard{
    border: 0px;
    width: 320px;
    height: 410px;
    margin: auto;
    padding-top: 6px;
}

.r1,
.r2,
.r3,
.r4,
.r5{
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.display{
    margin: auto;
    width: 320px;
    height: 50px;
    background-color: white;
}

.display p{
    font-size: 46px;
    margin: auto;
    text-align: end;
    padding-right: 5px;
    letter-spacing: -2.5px;
}

.taster{
    width: 78px;
    height: 78px;
    border-radius:  5px;
    border: solid black 2px;
    background-color: rgb(171, 160, 160);
    font-size: 24px;
}

.taster-no{
    width: 78px;
    height: 78px;
    border-radius:  5px;
    border: solid black 2px;
    background-color: rgb(171, 160, 160);
    font-size: 24px;
}

#nula{
    width: 160px;
}

#plusminus,
#moduo,
#deljenje,
#oduzimanje,
#sabiranje,
#mnozenje,
#jednako{
    background-color: orange;
}

#AC{
    background-color: green;
}